body {
    font-family: 'Montserrat', sans-serif;

}

.main-head{
    height: 150px;
    background: #FFF;
   
}

 .container {
    background: linear-gradient(45deg, #f59797, #99b1ff, #aff7af);
    background-size: 200% 200%;
    height: 100%;
    animation: gradientAnimation 5s infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
    

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .container {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }}

    .container{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }



.titulo{
    margin-top: 30%;
    width: 50%;
    padding: 60px;
    color: #fff;
    font-size: larger;
}


.botaoLogin{
    border: 1px solid;
    color: #141414;
    width: 25rem;
    height: 2.5rem;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.botaoLogin:hover{
    background-color: #cc99ff;
    color: aliceblue;
    border-color: #141414;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.botoes{
    flex-direction: column;
    gap: 20px;
    justify-content: center;


}
